@page
@model IndexModel
@{
    ViewData["Title"] = "شمارش تعداد کاربران انلاین";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Users</title>
</head>
<body>
    <h1>Online Users: @Model.OnlineUsersCount</h1>
    <script>
        setInterval(() => {
            location.reload();
		}, 10000); // Every 10 seconds the page will be refreshed
    </script>
</body>
</html>
